# Object file
obj/
*.o
# Ada Library Information
*.ali
# Linux Executables
advgame
display
inventory_test
player_test
save_test
spritemaker
test
# Windows Executables
*.exe
# Distribution
dist/
*.tar.gz
*.zip